<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deleteModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Are you sure you want to delete the post?</h4>
            </div>
            <!-- <div class="modal-body">
              ...
            </div> -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>


<!-- New Post button -->
<button type="button" ng-init="showAddPostBtn=true" ng-show="showAddPostBtn" ng-click="showAddPostBtn=false"
        class="btn btn-primary">New Post
</button>

<!-- Post Form -->
<div class="well" ng-show="!showAddPostBtn" name="postForm">
    <form name="postForm" role="form">
        <div class="form-group">
            <input ng-model="title" class="form-control" placeholder="Post title...">
        </div>
        <div class="form-group">
            <input ng-model="author" class="form-control" placeholder="Your name...">
        </div>
        <div class="form-group">
            <textarea ng-model="text" class="form-control" rows="3" placeholder="Your text..."></textarea>
        </div>
        <button ng-click="addPost()" type="submit" class="btn btn-primary">Add</button>
        <button ng-click="showAddPostBtn=true" type="submit" class="btn btn-primary pull-right">Cancel</button>
    </form>
</div>

<!-- Posts list-->
<div ng-repeat="post in posts" ng-show="showAddPostBtn">
    <h2>
        <a href="#/posts/{{post.id}}">{{post.title}}</a>
        <a class="pull-right" href="#deleteModal" title="Delete post">
            <img class="comment-btn" src="img/trash.png" ng-click="deletePost($index)" data-toggle="modal"
                 data-target="#deleteModal"/>
        </a>
        <a class="pull-right" href="" title="Edit post">
            <img class="comment-btn" src="img/pencil.png" ng-click="editPost($index)"/>
        </a>
    </h2>

    <p class="lead">by
        <i>{{post.author}}</i></p>

    <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.timestamp | date}}</p>

    <hr>

    <p>{{post.text}}</p>
    <a class="btn btn-primary" href="#/">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>
</div>